<p id="notice"><%= notice %></p>

<h1>Components</h1>

<table>
  <thead>
    <tr>
      <th>Part number</th>
      <th>Name</th>
      <th>Company</th>
      <th>Homonym</th>
      <th>Memo</th>
      <th>Description</th>
      <th>Supplier price list</th>
      <th>Currency</th>
      <th>Currency exchange</th>
      <th>Currency rounding</th>
      <th>Supplier discount</th>
      <th>Discount rounding</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.part_number %></td>
        <td><%= component.name %></td>
        <td><%= component.company_id %></td>
        <td><%= component.homonym %></td>
        <td><%= component.memo %></td>
        <td><%= component.description %></td>
        <td><%= component.supplier_price_list %></td>
        <td><%= component.currency %></td>
        <td><%= component.currency_exchange %></td>
        <td><%= component.currency_rounding %></td>
        <td><%= component.supplier_discount %></td>
        <td><%= component.discount_rounding %></td>
        <td><%= link_to 'Show', component %></td>
        <td><%= link_to 'Edit', edit_component_path(component) %></td>
        <td><%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component', new_component_path %>
