<h1>first page</h1>

<%= turbo_frame_tag "someid" do %>
  <%= link_to "Second page", site_second_path %>
<% end %>

<hr/>
<%= turbo_frame_tag "formid" do %>
  <%= form_with url: site_third_path do |f| %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
<% end %>
