        <div id="section-blog" class="page-section">

          <h2 class="center uppercase t300 ls3 font-body">Recently From the Blog</h2>

          <div class="section nobottommargin">
            <div class="container clearfix">

              <div class="row topmargin clearfix">

                <div class="ipost col-md-6 bottommargin clearfix">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="entry-image nobottommargin">
                        <!-- <a href="#"><img src="images/blog/1.jpg" alt="Paris"></a> -->
                        <a href="#"><%= image_tag "blog-1.jpg", alt: "Paris" %></a>
                      </div>
                    </div>
                    <div class="col-lg-6" style="margin-top: 20px;">
                      <span class="before-heading" style="font-style: normal;">Press &amp; Media</span>
                      <div class="entry-title">
                        <h3 class="t400" style="font-size: 22px;"><a href="#">Global Meetup Program is Launching!</a></h3>
                      </div>
                      <div class="entry-content">
                        <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="ipost col-md-6 bottommargin clearfix">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="entry-image nobottommargin">
                        <!-- <a href="#"><img src="images/blog/2.jpg" alt="Paris"></a> -->
                        <a href="#"><%= image_tag "blog-2.jpg", alt: "Paris" %></a>
                      </div>
                    </div>
                    <div class="col-lg-6" style="margin-top: 20px;">
                      <span class="before-heading" style="font-style: normal;">Inside Scoops</span>
                      <div class="entry-title">
                        <h3 class="t400" style="font-size: 22px;"><a href="#">The New YouTube Economy unfolds itself</a></h3>
                      </div>
                      <div class="entry-content">
                        <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="ipost col-md-6 bottommargin clearfix">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="entry-image nobottommargin">
                        <!-- <a href="#"><img src="images/blog/3.jpg" alt="Paris"></a> -->
                        <a href="#"><%= image_tag "blog-3.jpg", alt: "Paris" %></a>
                      </div>
                    </div>
                    <div class="col-lg-6" style="margin-top: 20px;">
                      <span class="before-heading" style="font-style: normal;">Video Blog</span>
                      <div class="entry-title">
                        <h3 class="t400" style="font-size: 22px;"><a href="#">Kicking Off Design Party in Style</a></h3>
                      </div>
                      <div class="entry-content">
                        <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="ipost col-md-6 bottommargin clearfix">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="entry-image nobottommargin">
                        <!-- <a href="#"><img src="images/blog/4.jpg" alt="Paris"></a> -->
                        <a href="#"><%= image_tag "blog-4.jpg", alt: "Paris" %></a>
                      </div>
                    </div>
                    <div class="col-lg-6" style="margin-top: 20px;">
                      <span class="before-heading" style="font-style: normal;">Inspiration</span>
                      <div class="entry-title">
                        <h3 class="t400" style="font-size: 22px;"><a href="#">Top Ten Signs You're a Designer</a></h3>
                      </div>
                      <div class="entry-content">
                        <a href="#" class="more-link">Read more <i class="icon-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <div class="container topmargin-lg clearfix">

            <div id="oc-clients" class="owl-carousel topmargin image-carousel carousel-widget" data-margin="80" data-loop="true" data-nav="false" data-autoplay="5000" data-pagi="false"data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5" data-items-xl="6">

              <!-- <div class="oc-item"><a href="#"><img src="../images/clients/1.png" alt="Clients"></a></div>
              <div class="oc-item"><a href="#"><img src="../images/clients/2.png" alt="Clients"></a></div>
              <div class="oc-item"><a href="#"><img src="../images/clients/3.png" alt="Clients"></a></div>
              <div class="oc-item"><a href="#"><img src="../images/clients/4.png" alt="Clients"></a></div>
              <div class="oc-item"><a href="#"><img src="../images/clients/5.png" alt="Clients"></a></div>
              <div class="oc-item"><a href="#"><img src="../images/clients/6.png" alt="Clients"></a></div>
              <div class="oc-item"><a href="#"><img src="../images/clients/7.png" alt="Clients"></a></div>
              <div class="oc-item"><a href="#"><img src="../images/clients/8.png" alt="Clients"></a></div>
              <div class="oc-item"><a href="#"><img src="../images/clients/9.png" alt="Clients"></a></div>
              <div class="oc-item"><a href="#"><img src="../images/clients/10.png" alt="Clients"></a></div> -->

              <div class="oc-item"><a href="#"><%= image_tag "clients-1.png", alt: "Clients" %></a></div>
              <div class="oc-item"><a href="#"><%= image_tag "clients-2.png", alt: "Clients" %></a></div>
              <div class="oc-item"><a href="#"><%= image_tag "clients-3.png", alt: "Clients" %></a></div>
              <div class="oc-item"><a href="#"><%= image_tag "clients-4.png", alt: "Clients" %></a></div>
              <div class="oc-item"><a href="#"><%= image_tag "clients-5.png", alt: "Clients" %></a></div>
              <div class="oc-item"><a href="#"><%= image_tag "clients-6.png", alt: "Clients" %></a></div>
              <div class="oc-item"><a href="#"><%= image_tag "clients-7.png", alt: "Clients" %></a></div>
              <div class="oc-item"><a href="#"><%= image_tag "clients-8.png", alt: "Clients" %></a></div>
              <div class="oc-item"><a href="#"><%= image_tag "clients-9.png", alt: "Clients" %></a></div>
              <div class="oc-item"><a href="#"><%= image_tag "clients-10.png", alt: "Clients" %></a></div>

            </div>

          </div>

        </div>
