<%= form_with(model: user, local: true) do |form| %>

  <div class="row">
    <!-- Basic info section -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nuovo/Modifica Utente: Mario Bianchi</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="field">
              <label>email</label> 
              <input type="text" class="form-control">
              <%#= label_tag :email %>
              <%#= email_field_tag :email, nil, id: :email, class: "form-control" %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <label>password</label> 
              <input type="password" class="form-control">
              <%#= label_tag :password %>
              <%#= password_field_tag :password, nil, id: :password, class: "form-control" %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <label>password confirmation</label> 
              <input type="password" class="form-control">
              <%#= label_tag :password_confirmation %>
              <%#= password_field_tag :password_confirmation, nil, id: :password_confirmation, class: "form-control" %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-group">
              <label for="exampleFormControlSelect1">role</label>
              <select class="form-control" id="exampleFormControlSelect1"><!-- menu a cascata (drop-down list) -->
                <option value="a">Amministratore</option>
                <option value="b">Moderatore</option>
                <option value="c">Autore</option>
                <option value="d">Utente</option>
              </select>
            </div>
          </li>
          <li class="list-group-item">
            <div class="actions">
              <input type="submit" value="Crea/Modifica" class="btn btn-success btn-lg btn-block">
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Optional info section -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dati opzionali</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="field">
              <label>name</label> 
              <input type="text" class="form-control">
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <label class="control-label">Immagine</label>
              <br><img src="https://images.pexels.com/photos/634843/pexels-photo-634843.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=100&w=100" alt="Immagine demo presa da pexels.com" width="100" height="100"><br>
              <input type="file" name="myFile">
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <label class="control-label">Bio</label>
              <textarea name="incipit" rows="5" class='form-control'>Biografia dell'utente</textarea>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>



  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("form_errors_message", count: user.errors.count) %></h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, placeholder: true %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, placeholder: true %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation, placeholder: true %>
  </div>

  <% if current_user.present? and current_user.admin? and @user != current_user %>
    <div class="field">    
      <%= form.label :role %>
      <%= form.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
      <%#= form.number_field :role %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
