<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @step.question %>
</p>


<%= form_with(model: [@lesson, @step], local: true) do |form| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
        <% @step.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_area :answer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<!--da eliminare -->
<p>
  <strong>Answer:</strong>
  <%= @step.answer %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @step.lesson_id %>
</p>
<!--da eliminare -->

<%= link_to 'Edit', edit_lesson_step_path(@lesson, @step) %> |
<%= link_to 'Back', lesson_steps_path(@lesson) %>

<br>
<%= link_to 'Prev', lesson_step_path(@lesson, @step.id-1) if @step.id > @lesson.steps.first.id %> --
<%= link_to 'Next', lesson_step_path(@lesson, @step.id+1) if @step.id < @lesson.steps.last.id %>
