<p id="notice"><%= notice %></p>

<h1>Company Person Maps</h1>

    <% @companies.each do |company| %>
      <p>Company: <%= company.id %> - <%= company.name %></p>
      <% company.people.each do |person| %>
        <p>
          <%= person.id %> - <%= "#{person.first_name} #{person.last_name}" %>
          <%#= company_person_map.summary %>
          <%#= link_to 'Show', company_person_map %>
          <%#= link_to 'Edit', edit_company_person_map_path(company_person_map) %>
          <%#= link_to 'Destroy', company_person_map, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      <% end %>
    <% end %>

<br>

<%= link_to 'New Company Person Map', new_company_person_map_path %>
