<div id="<%= dom_id step %>">
  <%= form_with(model: [@lesson, step], local: true, id: "test-form", html: {'data-turbo' => "false"}) do |form| %>

    <p>
      <strong>Question:</strong>
      <%= step.question %>
    </p>

    <!-- Creiamo nuovo Record -->
    <%= form.fields_for :answers, Answer.new do |answer| %>
      <%= render "answer_fields", form: answer %>
    <% end %>
    <div class="actions">
      <%= form.submit %>
    </div>


    <!-- da eliminare -->
    <p>
      <strong>Answers</strong>
      <ul>
        <% step.answers.each do |answer| %>
          <li>
            <%= answer.content %> - by <%= answer.user.name %>
          </li>
        <% end %>
      </ul>
    </p>

    <p>
      <strong>Answer fissa:</strong>
      <%= step.answer %>
    </p>

    <p>
      <strong>Lesson:</strong>
      <%#= step.lesson_id %>
      <%= step.lesson.name %>
    </p>
    <!-- --- -->

  <% end %>
</div>
