<%= form_with(model: company_person_map, local: true) do |form| %>
  <% if company_person_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_person_map.errors.count, "error") %> prohibited this company_person_map from being saved:</h2>

      <ul>
        <% company_person_map.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <br><%= company_person_map.company.name %>
    <%= form.text_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <br>
    <a class="btn btn-medium btn-rounded btn-transparent-dark-gray margin-10px-bottom popup-with-zoom-anim wow fadeInUp" data-wow-delay="0.6s" href="#modal-popup-selections-nested"> change &nbsp&nbsp&nbsp&nbsp</a>
    <%= link_to edit_person_path(company_person_map.person.id, back_to: "company_person_maps_edit", back_to_id: company_person_map.id), class: "btn btn-medium btn-rounded btn-transparent-dark-gray margin-10px-bottom", 'data-wow-delay': "0.6s" do %>
      <%= image_tag "elis/icons/person.png", alt: "company" %> modifica &nbsp&nbsp&nbsp&nbsp
    <% end %>

    <%= company_person_map.person.first_name %> <%= company_person_map.person.last_name %>
    <%= render 'popup_selections_nested' %>
    <%= form.text_field :person_id %>
  </div>

<h3>Dati aziendali</h3>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_field :summary %>
  </div>


<h3>Dati Personali</h3>

  <%= form.fields_for :person do |nested_form| %>

    <div class="field">
      <%= nested_form.label :title %>
      <%= nested_form.text_field :title, class: "medium-input" %>
    </div>
    
    <div class="field">
      <%= nested_form.label :first_name %>
      <%= nested_form.text_field :first_name, class: "medium-input" %>
    </div>
  
    <div class="field">
      <%= nested_form.label :last_name %>
      <%= nested_form.text_field :last_name, class: "medium-input" %>
    </div>

    <div class="col-12">
      <%= nested_form.label :homonym %>
      <%= nested_form.text_area :homonym, rows: 2, class: "medium-textarea" %>
    </div>
    
    <div class="col-12">
      <%= nested_form.label :note %>
      <%= nested_form.text_area :note, rows: 6, class: "medium-textarea" %>
    </div>


    <div data-controller="nested-form" class="col-12"> <!-- Nested Form Telephones start -->
      <%= nested_form.label :telephones %>

          <!-- Creiamo nuovo Record -->
          <template data-target="nested-form.template">
            <%= nested_form.fields_for :telephones, Telephone.new, child_index: "TEMPLATE_RECORD" do |telephone| %>
              <%= render "telephone_fields", form: telephone %>
            <% end %>
          </template>
      
          <!-- Visualizziamo i Records esistenti -->
          <%= nested_form.fields_for :telephones do |telephone| %>
            <%= render "telephone_fields", form: telephone %>
          <% end %>

          <!-- Il pulsante per aggiungere i tasks -->
          <div data-target="nested-form.add_item">
              <%= link_to "+ Aggiungi numero di telefono personale", "#", data: { action: "nested-form#add_association" }, class: "btn btn-transparent-dark-gray btn-medium margin-20px-bottom" %>
              <%#= link_to "Add Telephone", "#", 'data-action': "nested-form#add_association" %>
          </div>
        </div> <!-- Nested Form Telephones end -->


        <div data-controller="nested-form" class="col-12"> <!-- Nested Form Emails start -->
          <!-- Creiamo nuovo Record -->
          <template data-target="nested-form.template">
            <%= nested_form.fields_for :emails, Email.new, child_index: "TEMPLATE_RECORD" do |email| %>
              <%= render "email_fields", form: email %>
            <% end %>
          </template>
      
          <!-- Visualizziamo i Records esistenti -->
          <%= nested_form.fields_for :emails do |email| %>
            <%= render "email_fields", form: email %>
          <% end %>

          <!-- Il pulsante per aggiungere i tasks -->
          <div data-target="nested-form.add_item">
              <%= link_to "+ Aggiungi indirizzo email personale", "#", data: { action: "nested-form#add_association" }, class: "btn btn-transparent-dark-gray btn-medium margin-20px-bottom" %>
              <%#= link_to "Add Telephone", "#", 'data-action': "nested-form#add_association" %>
          </div>
        </div> <!-- Nested Form Emails end -->


  <% end %>
  
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
