<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @example_post.title %>
</p>

<p>
  <strong>Incipit:</strong>
  <%= @example_post.incipit %>
</p>

<p>
  <strong>User:</strong>
  <%= @example_post.user %>
</p>

<% if @example_post.header_image.attached? %>
  <%= image_tag @example_post.header_image %>
<% else %>
  <p>Nessuna immagine presente</p>
<% end %>

<%= link_to 'Edit', edit_example_post_path(@example_post) %> |
<%= link_to 'Back', example_posts_path %>
