<section class="wow fadeIn padding-one-all" id="start-your-project2"> <!-- start form section -->
  <div class="container"> <!-- start container -->
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
        <div class="position-relative overflow-hidden w-100">
          <!--<span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Contact Form Style 01</span>-->
        </div>
      </div>
    </div>
    <!--<form id="project-contact-form2" action="project-contact.php" method="post">-->
    <%= form_with(model: person, local: true) do |form| %>
      <% if person.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>
    
          <ul>
            <% person.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">

        <div class="col-12 col-md-2">
          <%= form.label :title %>
          <%= form.text_field :title, class: "medium-input" %>
        </div>
  
        <div class="col-12 col-md-4">
          <%= form.label :first_name %>
          <%= form.text_field :first_name, class: "medium-input" %>
        </div>

        <div class="col-12 col-md-6">
          <%= form.label :last_name %>
          <%= form.text_field :last_name, class: "medium-input" %>
        </div>
        
        <div class="col-12">
          <%= form.label :homonym %>
          <%= form.text_area :homonym, rows: 2, class: "medium-textarea" %>
        </div>
        
        <div class="col-12">
          <%= form.label :note %>
          <%= form.text_area :note, rows: 6, class: "medium-textarea" %>
        </div>


        <div data-controller="nested-form" class="col-12"> <!-- Nested Form Telephones start -->
          <%= form.label :telephones %>

          <!-- Creiamo nuovo Record -->
          <template data-target="nested-form.template">
            <%= form.fields_for :telephones, Telephone.new, child_index: "TEMPLATE_RECORD" do |telephone| %>
              <%= render "telephone_fields", form: telephone %>
            <% end %>
          </template>
      
          <!-- Visualizziamo i Records esistenti -->
          <%= form.fields_for :telephones do |telephone| %>
            <%= render "telephone_fields", form: telephone %>
          <% end %>

          <!-- Il pulsante per aggiungere i tasks -->
          <div data-target="nested-form.add_item">
              <%= link_to "+ Aggiungi numero di telefono", "#", data: { action: "nested-form#add_association" }, class: "btn btn-transparent-dark-gray btn-medium margin-20px-bottom" %>
              <%#= link_to "Add Telephone", "#", 'data-action': "nested-form#add_association" %>
          </div>
        </div> <!-- Nested Form Telephones end -->


        <div class="col-12 text-center">
          <%= form.submit class: "btn btn-transparent-dark-gray btn-large margin-20px-top" %> <!-- <-- Note: there is no comma! -->
        </div>

      </div> <!-- end row -->
    <% end %> <!-- end form-->
  </div> <!-- end container -->
</section> <!-- end form section -->
