<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  	<meta name="author" content="rebisworld" />
  
  	<!-- Document Title
  	============================================= -->
  	<title><%= yield(:page_title) %></title>
    <%= csrf_meta_tags %>
    
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  	<!-- Stylesheets
  	============================================= -->
  	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic", media: 'all', 'data-turbolinks-track': 'reload' %>
  	<%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
  
  	<%= stylesheet_link_tag 'dark', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<%= stylesheet_link_tag 'font-icons', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<%= stylesheet_link_tag 'animate', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<%= stylesheet_link_tag 'magnific-popup', media: 'all', 'data-turbolinks-track': 'reload' %>
  
  	<%= stylesheet_link_tag 'responsive', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
  	
  	<%= yield(:facebook_sharing) %>
  	<%= yield(:twitter_sharing) %>
  	
  </head>

  <body class="stretched <%= yield(:body_extra_class) %>">

    <% if author_signed_in? %>
      <%= render 'layouts/navbar' %>
    <% end %>

    <%= yield %>

    <%= render 'layouts/javascripts_external' %>
    <%= yield(:javascript_googlemap_api) %>
    <%= render 'layouts/javascripts_footer' %>
    <%= yield(:javascript_googlemap_show) %>
    <%= yield(:javascript_side_navigation) %>

  </body>
</html>