<%= form_with(model: eg_post) do |form| %>
  <% if eg_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(eg_post.errors.count, "error") %> prohibited this eg_post from being saved:</h2>

      <ul>
        <% eg_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :meta_title, style: "display: block" %>
    <%= form.text_field :meta_title %>
  </div>

  <div>
    <%= form.label :meta_description, style: "display: block" %>
    <%= form.text_field :meta_description %>
  </div>

  <div>
    <%= form.label :headline, style: "display: block" %>
    <%= form.text_field :headline %>
  </div>

  <div>
    <%= form.label :incipit, style: "display: block" %>
    <%= form.text_field :incipit %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%#= form.text_field :price %>
    <%= form.number_field :price, step: :any %>
  </div>

  <div class="field">
    <%= form.label :header_image %>
    <%= form.file_field :header_image %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
