    <!-- start form style 01 section -->
    <section class="wow fadeIn padding-one-all" id="start-your-project2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
            <div class="position-relative overflow-hidden w-100">
              <!--<span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Contact Form Style 01</span>-->
            </div>
          </div>
        </div>
        <form id="project-contact-form2" action="project-contact.php" method="post">
          <div class="row">
            <!--<div class="col-12">-->
            <!--  <div id="success-project-contact-form" class="mx-0"></div>-->
            <!--</div>-->

            <div class="col-12 col-md-6">
              <label name="name" >Nome</label>
              <input type="text" name="name" id="name" placeholder="Elisa Mariane" class="medium-input">
            </div>
            <div class="col-12 col-md-6">
              <label name="department" >Cognome</label>
              <input type="text" name="department" id="department" placeholder="Ferreira Candido da Silva Bordoni" class="medium-input">
            </div>

            <div class="col-12">
              <label name="additional_notes_address" >Omonimia</label>
              <textarea name="additional_notes_address" id="additional_notes_address" placeholder="Indicazioni aggiuntive per distinguerlo da un'altra persona con stesso nome e cognome..." rows="2" class="medium-textarea"></textarea>
            </div>

            <div class="col-12">
              <label name="additional_notes_address" >Note Aggiuntive</label>
              <textarea name="additional_notes_address" id="additional_notes_address" placeholder="Normalmente alcune informazioni legate direttamente alla persona: &#10;ad esempio compleanno, figli, moglie, amici, sport preferito, cibo preferito, ..." rows="6" class="medium-textarea"></textarea>
            </div>

            <div class="col-12 col-md-6">
              <input type="text" name="phone_label" id="phone_label" placeholder="casa" class="medium-input">
            </div>
            <div class="col-12 col-md-6">
              <input type="text" name="phone" id="phone" placeholder="+39 06 875428" class="medium-input">
            </div>

            <div class="col-12 col-md-6">
              <input type="text" name="phone_label" id="phone_label" placeholder="cellulare" class="medium-input">
            </div>
            <div class="col-12 col-md-6">
              <input type="text" name="phone" id="phone" placeholder="+39 345 987123" class="medium-input">
            </div>

            <div class="col-12">
              <a href="#" class="btn btn-transparent-dark-gray btn-medium margin-20px-bottom">+ Aggiungi numero di telefono</a>
            </div>

            <div class="col-12 col-md-6">
              <input type="text" name="email_label" id="email_label" placeholder="per gli amici" class="medium-input">
            </div>
            <div class="col-12 col-md-6">
              <input type="text" name="email" id="email" placeholder="flavio.bordoni@gmail.it" class="medium-input">
            </div>

            <div class="col-12">
              <a href="#" class="btn btn-transparent-dark-gray btn-medium margin-20px-bottom">+ Aggiungi indirizzo email</a>
            </div>

            <div class="col-12">
              <a href="#" class="btn btn-transparent-dark-gray btn-medium margin-20px-bottom">+ Aggiungi indirizzo social network o web</a>
            </div>

            <div class="col-12 text-center">
                <button id="project-contact-us-button" type="submit" class="btn btn-transparent-dark-gray btn-large margin-20px-top">Salva</button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <!-- end form style 01 section -->


<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :homonym %>
    <%= form.text_field :homonym %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div data-controller="nested-form">
    <!-- Creiamo nuovo Record -->
    <template data-target="nested-form.template">
      <%= form.fields_for :telephones, Telephone.new, child_index: "TEMPLATE_RECORD" do |telephone| %>
        <%= render "telephone_fields", form: telephone %>
      <% end %>
    </template>

    <!-- Visualizziamo i Records esistenti -->
    <%= form.fields_for :telephones do |telephone| %>
      <%= render "telephone_fields", form: telephone %>
    <% end %>
    
    <!-- Il pulsante per aggiungere i tasks -->
    <div data-target="nested-form.add_item">
        <%= link_to "Add Telephone", "#", data: { action: "nested-form#add_association" } %>
        <%#= link_to "Add Telephone", "#", 'data-action': "nested-form#add_association" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<div data-controller="hello" class="field">
  <input data-target="hello.name" type="text">
  <button data-action="click->hello#log">Log</button>
</div>
