<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  	<meta name="author" content="SemiColonWeb" />
  
  	<!-- Document Title
  	============================================= -->
  	<title><%= yield(:page_title) %></title>
    <%= csrf_meta_tags %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  	<!-- Stylesheets
  	============================================= -->
  	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic", media: 'all', 'data-turbolinks-track': 'reload' %>
  	<%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
  
  	<%= stylesheet_link_tag 'dark', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<%= stylesheet_link_tag 'font-icons', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<%= stylesheet_link_tag 'animate', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<%= stylesheet_link_tag 'magnific-popup', media: 'all', 'data-turbolinks-track': 'reload' %>
  
  	<%= stylesheet_link_tag 'responsive', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  
  <body class="stretched">

    <% if author_signed_in? %>
      <%= render 'layouts/navbar' %>
    <% end %>
    
    <%= yield %>

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
  
    <!-- External JavaScripts
    ============================================= -->
    <!-- <script type="text/javascript" src="js/jquery.js"></script> -->
    <!-- <script type="text/javascript" src="js/plugins.js"></script> -->
    <%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'plugins', 'data-turbolinks-track' => true %>
  
    <!-- Footer Scripts
    ============================================= -->
    <!-- <script type="text/javascript" src="js/functions.js"></script> -->
    <%= javascript_include_tag 'functions', 'data-turbolinks-track' => true %>

  </body>
</html>