<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | Rebisworldbr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/dashboard_navbar' %>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <h2>Solo per Autori</h2>
      <%= yield %>
    </div>
  </body>
</html>
