<div class="nested-fields">
  <div class="form-row">
    <%= form.hidden_field :_destroy %>
    <div class="form-group col-auto col-md-auto">
      <%= form.text_field :name, placeholder: "centralino", class: "medium-input" %>
    </div>
    <div class="form-group col col-md-auto">
      <%= form.text_field :prefix, placeholder: "prefisso", class: "medium-input" %>
    </div>
    <div class="form-group col-auto col-md">
      <%= form.text_field :number, placeholder: "numero telefonico", class: "medium-input" %>
    </div>
    <div class="form-group col-auto col-md-auto">
      <small>
        <%= link_to "X", "#", data: { action: "click->nested-form#remove_association" }, class: "btn btn-transparent-dark-gray btn-medium margin-20px-bottom" %>
      </small>
    </div>
  </div>
</div>
