<div class="post">
  <div class="post-author">
    <div class="avatar avatar-<%= rand(1..27) %>"></div>
    <div><%= post.user.username if post.user.present? %></div>
  </div>
  <div class="post-body">
    <span><%= post.title %></span>
  </div>
  <div class="post-actions">
    <!--<div class="post-actions-like"></div>-->
    <%= turbo_frame_tag "post-likes" do %>
      <% if post.likes.present? %>
        <%= button_to "", post_likes_path(post), class: "post-actions-unlike", method: :delete %>
      <% else %>
        <%= button_to "", post_likes_path(post), class: "post-actions-like" %>
      <% end %>
    <% end %>
    <div class="post-actions-comments"><%= pluralize(post.comments.count, "comment") %></div>
  </div>
  <div class="post-comments">
    <%= form_with model: Comment.new, url: post_comments_path(post), class: "comment-form" do |f| %>
      <%= f.text_field :body %>
      <%= f.submit :post %>
    <% end %>
    <% post.comments.each do |comment| %>
      <div class="comment">
        <span class="comment-author"><%= comment.user.username %></span>
        <%= comment.body %>
        <%= turbo_frame_tag "comment-likes" do %>
          <% if comment.likes.present? %>
            <%= button_to "", post_comment_likes_path(post, comment), class: "post-actions-unlike", method: :delete %>
          <% else %>
            <%= button_to "", post_comment_likes_path(post, comment), class: "post-actions-like" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>