<%# == Meta_data ============================================================ %>

<% provide(:html_head_title, "#{t 'eg_posts.index.html_head_title'}") %>

<%# == Meta_data - end ====================================================== %>

<p style="color: green"><%= notice %></p>

<h1>AUTHOR Eg posts</h1>

<div id="eg_posts">
  <% @eg_posts.each do |eg_post| %>
    <%= render eg_post %>
    <p>
      <%= link_to "Show this eg post", eg_post_path(eg_post) %>
    </p>
  <% end %>
</div>

<%= sanitize pagy_nav(@pagy) %>
<br/>
<br/>

<%= link_to "New eg post", new_authors_eg_post_path %>
