<div class="container my-2">
  <div class="row">
    <div class="col">
      <%= form_with(model: eg_post, url: authors_url) do |form| %>
        <% if eg_post.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(eg_post.errors.count, "error") %> prohibited this eg_post from being saved:</h2>

            <ul>
              <% eg_post.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div>
          <%= form.label :meta_title, style: "display: block" %>
          <%= form.text_field :meta_title %>
        </div>

        <div>
          <%= form.label :meta_description, style: "display: block" %>
          <%= form.text_field :meta_description %>
        </div>

        <div>
          <%= form.label :headline, style: "display: block" %>
          <%= form.text_field :headline %>
        </div>

        <div>
          <%= form.label :incipit, style: "display: block" %>
          <%= form.text_field :incipit %>
        </div>

        <div class="field">
          <%= form.label :price %>
          <%#= form.text_field :price %>
          <%= form.number_field :price, step: :any %>
        </div>

        <div class="field">
          <p><%= image_tag eg_post.header_image.variant(resize_to_limit: [100, 100]) if eg_post.header_image.attached? %></p>
          <%= form.label :header_image %>
          <%= form.file_field :header_image %>
          <%= link_to 'Remove', delete_image_attachment_eg_post_path(eg_post.header_image.id), method: :get if eg_post.header_image.attached? %>
        </div>

        <div class="field">
          <%= form.label :content %>
          <%= form.rich_text_area :content %>
        </div>

        <div class="form-check">
          <%= form.label :published, class: "form-check-label" %>
          <%= form.check_box :published, class: "form-check-input" %>
          <%#= f.check_box :remove_logo, "data-size" => "medium", "data-on-color" => "primary", "data-on-text" => "SI", "data-off-color" => "default", "data-off-text" => "NO" %>
        </div>

        <div class="field">
          <%= form.label :published_at, class: "control-label" %>
          <%= form.text_field :published_at, class: "form-control" %>
        </div>

        <div>
          <%= form.label :user_id, style: "display: block" %>
          <%= form.text_field :user_id %>
        </div>

        <div>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
